* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.belakang {
  background-image: url(./img/bg1.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}
nav {
  background-color: #1b1b1b;
}
nav:after {
  content: "";
  clear: both;
  display: table;
}
nav ul {
  float: right;
  list-style: none;
  margin-right: 40px;
  position: relative;
}
nav ul li {
  float: left;
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover {
  color: blue;
  box-shadow: 0 0 10px blue, 0 0 10px blue;
  border-radius: 5px;
}
nav ul ul li a:hover {
  color: blue;
  box-shadow: none;
}
nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid blue;
  opacity: 0;
  visibility: hidden;
  transition: top 0.5s;
}
nav ul ul ul {
  border-top: none;
}
nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul ul li a {
  line-height: 50px;
}
nav ul ul ul li {
  position: relative;
  top: -70px;
  left: 150px;
}
nav .pemilik {
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600px;
  line-height: 70px;
  padding-left: 60px;
}
.fa-plus {
  margin-left: 40px;
  font-size: 15px;
}
.tampil,
.icon,
input {
  display: none;
}
.bio {
  margin-left: 8%;
  margin-top: 15%;
  width: 325px;
}
.bio h1 {
  margin-bottom: 15px;
  color: rgb(199, 199, 223);
  text-shadow: 2px 12px 15px rgb(0, 0, 0);
  transition: 0.5s;
}
.bio h1:hover {
  color: blue;
  transition: 0.3s;
}
p {
  color: rgb(255, 255, 255);
  line-height: 22px;
  font-size: 22px;
  text-shadow: 2px 12px 15px rgb(0, 0, 0);
  transition: 0.5s;
}
p:hover {
  color: blue;
  transition: 0.3s;
}
@media all and (max-width: 540px) {
  body {
    height: 100vh;
  }
  nav ul {
    margin-right: 0px;
    float: left;
  }
  nav .pemilik {
    padding-left: 30px;
    width: 100%;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul ul {
    top: 70px;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul ul li {
    position: static;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  nav ul ul a {
    padding-left: 20px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  .tampil {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .tampil:hover {
    color: blue;
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    right: 40px;
    line-height: 70px;
    font-size: 30px;
    cursor: pointer;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .tampil + a,
  ul {
    display: none;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
  .bio {
    width: 100%;
  }
}
