* {
  margin: 0;
  padding: 0;
}

body {
  background-color: slategrey;
  /* background-image: url(image.jpg);
        background-size: cover;
        background-position: center; */
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar {
  width: 100%;
  height: 80px;
  background-color: aliceblue;
}

h2 {
  line-height: 80px;
  display: inline-block;
  margin-left: 40px;
  color: black;
}

ul {
  float: right;
  margin-right: 40px;
  list-style: none;
}

ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: lighter;
  font-size: larger;
}
.Judul {
  text-align: center;
}

.Judul h1 {
  font-size: 30px;
}

.kolom {
  background: rgba(255, 255, 255, 0.1);
  width: 200px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
  transition: 0.4s;
  border: 4px solid;
  margin-top: 150px;
}

.kolom:hover {
  transform: scale(1.1);
  transition: 0.3s;
  opacity: 100%;
  background: white;
  box-shadow: 0 8px 16px 0 darkblue;
}

.kolom h2 {
  text-align: center;
}

.Data {
  height: 70px;
  margin-top: 15px;
}

.Data h2 {
  margin: 0;
  font-size: 20px;
  color: black;
}

.hero {
  width: 200px;
  height: 100px;
  background-image: url(./img/logo.png);
  background-position: center;
  background-size: cover;
}

.pencet1 {
  width: 180px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 30px;
  margin-right: 25px;
  border: 4px solid;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.pencet1:hover {
  transform: scale(1.1);
  transition: 0.2s;
  background-color: aliceblue;
  box-shadow: 0 6px 10px 0 darkblue;
}

.pencet2 {
  width: 180px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 30px;
  border: 4px solid;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.pencet2:hover {
  transform: scale(1.1);
  transition: 0.2s;
  background-color: aliceblue;
  box-shadow: 0 6px 10px 0 darkblue;
}

.pencet3 {
  width: 180px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 30px;
  margin-left: 25px;
  border: 4px solid;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.pencet3:hover {
  transform: scale(1.1);
  transition: 0.2s;
  background-color: aliceblue;
  box-shadow: 0 6px 10px 0 darkblue;
}

.pencet1 h4 {
  text-align: center;
  margin: 15px;
}

.pencet2 h4 {
  text-align: center;
  margin: 15px;
}

.pencet3 h4 {
  text-align: center;
  margin: 15px;
}

li {
  display: inline-flex;
}

li a {
  text-decoration: none;
  color: black;
  background-color: transparent;
}
