* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(173, 172, 166);
  padding: 0 10px;
}
.kresek {
  width: 100%;
  max-width: 500px;
  background-color: white;
  margin: 20px auto;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}
.kop img {
  width: 450px;
  height: 80px;
}
.kresek .judul {
  font-size: 24px;
  font-weight: 700px;
  color: black;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}
.kresek .forml {
  width: 100%;
}
.kresek .forml .badan {
  margin-bottom: 15px;
  align-items: center;
  display: flex;
}
.kresek .forml .badan label {
  width: 200px;
  color: #757575;
  font-size: 14px;
  margin-right: 10px;
}
.kresek .forml .badan .masukan,
.kresek .forml .badan .area_huruf {
  width: 100%;
  padding: 8px 10px;
  outline: none;
  border: 1px solid black;
  font-size: 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.kresek .forml .badan .area_huruf {
  width: 100%;
  height: 100px;
  resize: none;
}
.kresek .forml .badan .editselect {
  width: 100%;
  height: 37px;
  position: relative;
}
.kresek .forml .badan .editselect:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}
.kresek .forml .badan .editselect select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  appearance: none;
  outline: none;
  border: 0px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}
.kresek .forml .badan .masukan:focus,
.kresek .forml .badan .area_huruf:focus,
.kresek .forml .badan .editselect select:focus {
  border: 1px solid blue;
}
.kresek .forml .badan p {
  font-size: 14px;
  color: #757575;
}
.kresek .forml .badan .check {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: relative;
  display: block;
}
.kresek .forml .badan .check input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.kresek .forml .badan .check .tanda_ceklis {
  width: 15px;
  height: 15px;
  border: 1px solid blue;
  display: block;
  position: relative;
}
.kresek .forml .badan .check .tanda_ceklis:before {
  content: "";
  width: 5px;
  height: 2px;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.kresek .forml .badan .check input[type=":checkbox"]:checked ~ .tanda_ceklis {
  background: blue;
}
.kresek
  .forml
  .badan
  .check
  input[type=":checkbox"]:checked
  ~ .tanda_ceklis:before {
  display: block;
}
.kresek .forml .badan .btn {
  width: 100%;
  font-size: 15px;
  border: 0px;
  padding: 8px 10px;
  background: rgb(41, 41, 128);
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  outline: none;
}
.kresek .forml .badan .btn:hover {
  background: rgb(61, 59, 59);
}
.kresek .forml .badan:last-child {
  margin-bottom: 0;
}
.ttd {
  width: 150px;
  height: 80px;
  margin-left: 300px;
}
.ttd .isi_ttd {
  margin-top: 60px;
}
.ttd .isi_ttd input {
  max-width: 130px;
}
/* @media (max-width: 420px) {
  .kresek .forml .badan {
    flex-direction: column;
    align-items: flex-start;
  }
  .kresek .forml .badan label {
    margin-bottom: 5px;
  }
  img {
    max-width: 100%;
  }
  .kresek .forml .isibadan_1 {
    flex-direction: row;
  }
  .ttd {
    margin: 0;
  }
} */
